{% extends 'listings/base.html' %}

{% block title %}
 Django
{% endblock %}

{% block content %}

    <h1>Bienvenue vous apprenez Django</h1>
    <p>Mes groupes préférés sont :</p>
    <p>
        J'ai..
        {% if bands|length < 5 %}
            peu de
        {% elif bands|length < 10 %}
            quelques
        {% else %}
            beaucoup de
        {% endif %}
            groupes préférés.
    </p>
    <ul>
        {% for band in bands %}
        <li>{{ band.name }}</li>
        {% endfor %}
    </ul>

{% endblock %}
